.wrapper {
  font-size: 14px;
  font-family: Consolas, Monaco, monospace;
}

.dirname {
  padding: 4px 8px;
  color: white;
  background-color: rgba(0, 0, 0, .4);
}

.input {
  width: 10em;
}

.config-item {
  width: 10em;
  padding: 1em;
  background-color: #eee;
}
